<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Referrals</h1>
    <p>
      To login / sign up to the site, just follow this link: <a  href="<%= @link %>" target="_blank">Link</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
